.table>:not(caption)>*>* {
  border-left-width: 1px;
  border-right-width: 1px;
}

.navbar-menu .navbar-nav .nav-sm .nav-link {
  padding-right: 0px !important;
  padding-left: 14px !important;
}

#layout-wrapper .navbar-menu {
  overflow-y: auto;
}

.app-menu .container-fluid {
  padding: 0;
}

#layout-wrapper .navbar-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#layout-wrapper .navbar-menu::-webkit-scrollbar-thumb {
  height: 30%;
  background: #dddddd;
  border-radius: 10px;
}

#layout-wrapper .navbar-menu::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.navbar-menu .navbar-nav .nav-sm .nav-sm .nav-link:before {
  height: 7px;
  width: 7px;
  left: -3px;
  top: 12px;
}
/* .navbar-menu .navbar-nav .nav>.nav-item  {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-menu .navbar-nav .nav>.nav-item .btn_mark {
  line-height: 13px;
} */

.favorite_menus {
  padding: 12px 20px;
  position: relative;
}

.btn_favorite {
  display: flex;
  align-items: center;
  color: #FFC144;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
}

.btn_favorite i {
  font-size: 20px;
}

.favorite_menus .favorite_list {
  display: none;
  width: calc(100% - 20px);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #dCDCDC;
  z-index: 100;
}

.favorite_menus .favorite_list li {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 18px;
  line-height: 18px;
  margin-bottom: 8px;
}

.container-fluid .btn_mark {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.container-fluid .btn_mark:after {
  content: "\f18b";
  font-family: remixicon !important;
  color: #9c9c9c;
  font-size: 18px;
}

.container-fluid .btn_mark.active:after {
  content: "\f186";
  font-family: remixicon !important;
  color: #FFC144;
  font-size: 18px;
}

.favorite_menus .favorite_list li:last-child {
  margin-bottom: 0px;
}
.page-content {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  min-height: 100vh;
  overflow-x: auto;
}

.page-content .container-fluid {
  min-width: 1380px;
}

#page-topbar {
  position: static;
  padding-left: 0px;
}

.header_tabs {
  align-items: end;
  height: 100%;
}

.header_tabs_ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  gap: 1px;
}

.header_tabs_ul .nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 30px;
  padding-right: 42px;
  border-radius: 4px 4px 0 0;
  border-top: 3px solid transparent;
  background-color: #f0f0f0;
  position: relative;
}

.header_tabs_ul .nav-item button {
  position: absolute;
  right: 8px;
  top: 52%;
  transform: translateY(-50%);
}

.header_tabs_ul .nav-item button i {
  font-size: 18px;
}

.header_tabs_ul .nav-item.active {
  border-top: 3px solid var(--vz-topnav-item-active-color);
  background-color: #fafafa;
}

.page-content .contents {
  padding-top: 14px;
  display: none;
}

.page-content .contents.active {
  display: block;
}

.menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_title h5 {
  margin-bottom: 0;
}

@media (max-width: 767.98px) {
  .navbar-brand-box {
    display: block;
  }

  .logo span.logo-sm {
    display: none;
  }

  .logo span.logo-lg {
    display: inline-block;
  }

  :is([data-layout=vertical],[data-layout=semibox]) .app-menu {
    margin-left: 0px;
  }

  .main-content {
    margin-left: var(--vz-vertical-menu-width);
  }
}

.table_list {
  table-layout: fixed;
}

.table_list th,
.table_list td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 44px;
}

.table_list td.left {
  text-align: left;
}

.table_list td.no_overflow {
  overflow: visible;
  text-overflow: initial;
  white-space: wrap;
}

.table_list .form-check {
  text-align: center;
}

.table-responsive-detail {
  width: 100%;
}

.table-responsive-detail .table_detail {
  min-width: 1000px;
}

.table-responsive-detail .table_detail.min-width700 {
  min-width: 700px;
}

.table-responsive.table-responsive-y {
  overflow-y: auto;
  max-height: 300px;
}

.table-responsive.table-responsive-y table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-responsive.table-responsive-y table thead th {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.table_detail {
  table-layout: fixed;
}

.table_detail th {
  text-align: center;
}

.table_detail th {
  --vz-table-color-state: var(--vz-table-active-color);
  --vz-table-bg-state: var(--vz-table-active-bg);
}

.table_detail td {
  white-space: initial;
}

.table-card td:first-child,
.table-card th:first-child {
  padding-left: .75em;
}

.table-card td:last-child,
.table-card th:last-child {
  padding-right: .75em;
}

.table-scrollY .table-scrolY__wrap {
  max-height: 300px;
}

.table-scrollY table {
  border-collapse: separate;
  border-spacing: 0;
}

.table-scrollY table thead {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
}

.table-scrollY table tfoot  {
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 100;
  opacity: 1;
}

.table-active {
  --vz-table-active-bg : #eef1f4
}

/* 공통 : 리스트 상단 검색영역 */
form.form_search h4.form_title {
  width: max-content;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  flex-basis: 100px;
  flex-shrink: 0;
  text-align: center;
  margin-top: 8px;
  line-height: 23px;
}

.date_select {
  display: flex;
  align-items: center;
  gap: 8px;
  width: auto;
}

.date_select * {
  width: auto;
}

.date_select .form-date {
  max-width: 200px;
}

.date_btns {
  display: flex;
  align-items: center;
  width: auto;
  gap: 8px;
  flex-wrap: wrap;
}

.list_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
}

.list_sort_btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.list_sort_btns select {
  width: fit-content;
}

.list_sort_btns .btns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

form.form_search>.row {
  min-height: 37px;
}

form.form_search .select_input_box {
  display: flex;
  align-items: center;
  gap: 8px;
}

form.form_search .search_btns {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.select_input_box .input_price {
  max-width: 200px;
}

.date_input_box {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  .modal-dialog.modal-xl {
    width: calc(100% - 20px);
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }

  .modal-dialog.modal-big {
    max-width: 1450px;
  }
}

.sub_title {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-bottom: 4px;
  margin-bottom: 12px;
  border-bottom: 6px solid #E1F5FF;
}

.sub_title h5 {
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #111111;
  position: relative;
  margin-bottom: 0;
}

.sub_title h5:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../_img/common/icon_sub_title.svg) no-repeat center center / contain;
}

.input_file_custom input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.btn_detail {
  background-color: #fff;
  border: 1px solid #575C6D;
  color: #575C6D;
  position: relative;
}

.btn_detail::before{
  content: "\f0d1";
  font-family: remixicon !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
}

.btn.disabled,
.btn:disabled {
  background-color: #DCDCDC;
  border-color: transparent;
}

.btn_detail span {
  padding-left: 14px;
}


.btn_detail:hover {
  background-color: #575C6D;
  color: #fff;
}

.btn_info {
  background-color: #fff;
  border: 1px solid #575C6D;
  color: #575C6D;
  position: relative;
}
.btn_info:hover {
  background-color: #575C6D;
  color: #fff;
}

.btn_new {
  background-color: #fff;
  border: 1px solid #4896EC;
  color: #4896EC;
}

.btn_new:hover {
  background-color: #4896EC;
  color: #fff;
}

.btn_delete {
  background-color: #fff;
  border: 1px solid #E15241;
  color: #E15241;
}

.btn_delete:hover {
  background-color: #E15241;
  color: #fff;
}

.btn_save {
  background-color: #fff;
  border: 1px solid #8E48EC;
  color: #8E48EC;
}

.btn_save:hover {
  background-color: #8E48EC;
  color: #fff;
}

.btn_excel {
  background-color: #fff;
  border: 1px solid #34A853;
  color: #34A853;
}

.btn_excel:hover {
  background-color: #34A853;
  color: #fff;
}
.pl0 {
  padding-left: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}
