@charset "UTF-8";
.account__inner {
  width: 100%;
  max-width: 836px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 80px;
  padding-bottom: 120px;
}

.login_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  padding: 40px 16px;
}

.login_wrap {
  width: 100%;
  max-width: 594px;
}

.form_login .field_content input {
  height: 58px;
}

.password_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 58px;
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  padding-right: 16px;
}

.password_box input {
  border: none;
  height: 100%;
  background-color: transparent;
}

.password_box .btn_eye {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url(../_img/common/icon_eye_on.svg) no-repeat center center / contain;
}

.password_box .btn_eye.off {
  background-image: url(../_img/common/icon_eye_off.svg);
}

.account_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.account_menu li {
  color: #767676;
  padding: 0 8px;
  position: relative;
}

.account_menu li:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #DDDDDD;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.account_menu li:first-child {
  padding-left: 0;
}

.account_menu li:last-child {
  padding-right: 0;
}

/* 이용약관 및 개인보호정책 동의 */
.agree_content {
  margin-top: 40px; 
}

section.agree_all {
  margin-bottom: 40px;
}

section.agree_all .checkbox--typeA {
  font-size: 18px;
  color: #0A2D6D;
  font-weight: 600;
}

section.agree_all .checkbox--typeA input[type=checkbox]+em {
  background: url(../_img/common/icon_checkbox_all.svg) no-repeat center center / 20px;
}

section.agree_all .checkbox--typeA input[type=checkbox]:checked+em {
  background: url(../_img/common/icon_checkbox_all_on.svg) no-repeat center center / 20px;
}

.agree_section {
  margin-bottom: 80px;
}

.agree_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #505050;
  padding: 0 16px;
}

.agree_title .btn_open {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../_img/common/icon_open.svg) no-repeat center center / contain;
}

.agree_title .btn_open.active {
  transform: rotate(-180deg);
}

.agree_cnts {
  margin-top: 16px;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #DDDDDD;
  height: 360px;
  padding: 16px;
  padding-right: 8px;
}

.agree_cnts .text {
  height: 100%;
  padding-right: 10px;
  color: #999999;
}

.agree_checkbox {
  margin-top: 16px;
}

.agree_checkbox .checkbox--typeA {
  color: #505050;
  padding-left: 16px;
}

.agree_checkbox.chkAll .checkbox--typeA label {
  color: #0A2D6D;
  font-weight: 600;
}

/* Mobile */
@media screen and (max-width:767px) {
  .account__inner {
    padding-top: 74px;
  }

  .form_login .field_content input {
    height: 56px;
    font-size: 16px;
  }

  .account_menu li {
    font-size: 14px;
    padding: 0 4px;
  }

  .agree_section {
    margin-bottom: 40px;
  }

  .agree_title {
    font-size: 16px;
  }

  .agree_cnts {
    margin-top: 8px;
    border-radius: 12px;
  }

  .agree_cnts .text {
    font-size: 14px;
  }
  .agree_checkbox {
    margin-top: 8px;
  }
}